<footer>
  <div id="footer">
    <div class="container">
	<p class="text-muted"><i class="fa fa-creative-commons" aria-hidden="true"></i> {{ .Site.Copyright }} (<a href="/credits/">credits</a>)</p>
	<a href="/about/javascript" data-jslicense="1" class="hidden">JavaScript license information</a>
    </div>
  </div>
</footer>
<div class="footer"></div>

{{ partial "js" . }}
